<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>
            [Be.Haven.ApiCommon]*,
            [Be.Haven.Cache]*,
            [Be.Haven.Core]*,
            [Be.Haven.Shared]*,
            [Be.Haven.EventBus]*
          </Include>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
